@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.logo {
    width: 60px;
    height: 60px;
    border-radius: 150px;
}

.navbar-custom {
    background-color: #2b1b19;
}

#navItem1 {
    color: #ffffff;
    font-family: "Roboto";
}

#navItem2 {
    color: #ffffff;
    font-family: "Roboto";
}

#navItem3 {
    color: #ffffff;
    font-family: "Roboto";
}

#navItem4 {
    color: #ffffff;
    font-family: "Roboto";
}

.banner-section-bg-container {
    background-image: url("https://i.pinimg.com/564x/c4/03/0b/c4030b0d68d93fce9fca83796fcce15b.jpg");
    height: 100vh;
    background-size: cover;
}

.banner-heading {
    color: white;
    font-family: "copperplate";
    font-size: 45px;
    font-weight: 700;
}

.banner-caption {
    color: #f5f7fa;
    font-family: "Georgia";
    font-size: 24px;
    font-weight: 500;
}

.custom-button {
    color: white;
    background-color: #2b1b19;
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
}

.custom-outline-button {
    color: #ffffff;
    background-color: transparent;
    width: 130px;
    height: 45px;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    border-radius: 8px;
}